__pycache__/
*.py[cod]
*$py.class
.pytest_cache
data/

openrouter.key


# Local configuration files
models.md
models_classify.md
models_generate_classes.md
criteria.md
criteria_classify.yml
criteria_embed.md

# Output files
*_LLMs_*.csv




